<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/dviz.css" type="text/css">
    <!-- <style type="text/css" media="all">@import url('./css/dataviz.css');</style> -->
    <script src="//d3js.org/d3.v3.min.js"></script>
    <title>COLOR COMMONS</title>
</head>
<body>
<div class="buffer"></div>
<div id="page">
        <h1>Interactive Data Vizualizaton: Color Commons</h1>
        <p><a href="http://www.newamericanpublicart.com/color-commons-2017">Learn More</a></p>
	<p>Last Updated: {{time}}</p>
</div>
<div class="buffer"></div>
</body>
</html>
