<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="//d3js.org/d3.v3.min.js"></script>
    <title>COLOR COMMONS</title>
</head>
<body>
<div class="buffer"></div>
<div id="page">
	<h1>Under Construction</h1>
	<div id="canvas">
		<p>Soon this page will host the DATA VIZUALIZATION of the New American Public Art "Color Commons" project, as seen on the Boston Greenway. Interested? <a href="http://www.newamericanpublicart.com/color-commons-2017">Learn More</a> or <a href="http://www.newamericanpublicart.com/interactivepublicart/">Explore!</a>
		</p>
	</div>
</div>
<div class="buffer"></div>
<script src="master.js"></script>
</body>
</html>
