<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<div id="page">
  <div id="header"><h1>Interactive Data Visualization: Color Commons</h1></div>
  <div id="canvas"></div>
    <div id="info">
    <div class="tabs" data-all="{{all}}"></div>
    <div id="about" data-time="{{time}}">
      <p>Contact: info@newamericanpublicart.com | <a href="http://www.newamericanpublicart.com/color-commons-2017">Learn More</a></p>
    </div>
  </div>
</div>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="//d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="master.js"></script>
</script>